@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.hero_section {
  background-image: url(developer.png);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.text_container {
  color: #fff;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 0;
  padding-left: 30px;
  /* text-align: center; */
}
.lg_text {
  font-size: 72px;
  font-weight: 400;
}
#name {
  font-size: 30px;
}
.black_box {
  background-color: black;
  padding: 20px;
  /* height: 20px; */
}
.black_box h2 {
  font-size: 72px;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
.black_box h2 span {
  font-weight: 400;
  font-size: 96px;
}
.work {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: 20px 2px;
  /* align-items: center; */
  /* max-width: 1100px; */
  /* margin: 0 auto; */
}
.card {
  max-width: 320px;
  height: 420px;
  border-radius: 10px;
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.2);
  align-items: center;
  margin-left: 42px;
  transition: 0.2s ease-in-out;
  margin-top: 20px;
}
.gird_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_container h3 {
  margin: 10px 0;
  text-align: center;
  /* padding: 10px; */
}
.card:hover {
  transform: scale(1.04);
  /* border: 2px solid; */
  box-shadow: 3px 3px 3px rgb(1, 1, 1, 0.3);
  transition: 0.2s ease-in-out;
}
a {
  text-decoration: none;
  color: aqua;
}
.link {
  display: flex;
  gap: 20px;
  /* justify-content: center; */
  margin-top: 10px;
}
.bottom {
  display: flex;
}
.contact {
  background-color: #515603;
  width: 120%;
}
.about {
  background-color: #722300;
}
.contact,
.about {
  min-height: 100px;
  padding: 20px;
  color: #fff;
}
.about p,
.contact p {
  margin-bottom: 20px;
}
.about h2,
.contact h2 {
  font-size: 64px;
  text-align: center;
  font-weight: 300;
}

/* .link:hover{
    transform: translateY(-10px);
} */
/* .link:nth-child(1){
    transition: 0.2s ease-in;

}
.link:nth-child(1):hover{
    transform: translateY(-10);
} */
footer {
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  color: #fff;
  font-size: 25px;
}
@media (max-width: 786px) {
  .hero_section {
    min-height: 50vh;
    min-width: 100vw;
    flex-wrap: wrap;
  }
  .text_container h2{
    text-align: left;
    font-size: 40px;
  }
  .text_container {
  color: #fff;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 30px;
  /* text-align: center; */
}
  .lg_text {
    font-size: 50px;
    /* color: rgb(191, 82, 82); */
    /* text-align: left; */
  }
  .black_box h2 {
    font-size: 24px;
  }
  .black_box h2 span {
    font-weight: 400;
    font-size: 32px;
  }
  .bottom {
    flex-direction: column;
  }
  h1 {
    font-size: 50px;
  }
  .about h2,
  .contact h2 {
    font-size: 32px;
  }
  .contact {
    background-color: #515603;
    width: 100%;
  }
  #name{
    font-size: 20px;
  }
  #web{
    margin-top: 0;
    /* color: #4d857c; */
    font-size: 40px;
  }
}
